bluepy
torch
numpy
matplotlib
scanpy
boltons
anndata
sklearn
tqdm
colorcet>=3.0.0
pyro-api==0.1.2
pyro-ppl==1.8.0
pandas
sphinx>=2.1
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinxcontrib-programoutput
sphinx-argparse
